name: Code CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  code-formatting:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      VFLAGS: -cc tcc
    steps:
    - name: Checkout V
      uses: actions/checkout@v4
      with:
        repository: vlang/v

    - name: Build local v
      run: make && sudo ./v symlink

    - name: Checkout vab-sdl
      uses: actions/checkout@v4
      with:
        path: vab-sdl

    - name: Test code formatting
      run: |
        cd vab-sdl
        v test-fmt

  ubuntu-latest-local-bootstrap:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      VFLAGS: -d vab_allow_extra_commands
      VAB_FLAGS: -v 3 --ndk-version 25.1.8937393
    steps:
    - name: Checkout V
      uses: actions/checkout@v4
      with:
        repository: vlang/v

    - name: Build local v
      run: make && sudo ./v symlink

    - name: Install dependencies
      run: |
        v retry -- sudo apt-get update
        v retry -- sudo apt-get install --quiet -y libsdl2-dev libsdl2-ttf-dev
        v retry -- sudo apt-get install --quiet -y libsdl2-mixer-dev libsdl2-image-dev

    - name: Checkout SDL
      uses: actions/checkout@v4
      with:
        repository: vlang/sdl
        fetch-depth: 0
        path: sdl

    - name: Simulate "v install sdl"
      run: mv sdl ~/.vmodules

    - name: Setup vlang/sdl
      run: v ~/.vmodules/sdl/setup.vsh

    - name: Checkout vab
      uses: actions/checkout@v4
      with:
        repository: vlang/vab
        path: vab

    - name: Install vab
      run: |
        mv vab ~/.vmodules
        v -g ~/.vmodules/vab
        sudo ln -s ~/.vmodules/vab/vab /usr/local/bin/vab

    - name: Run 'vab --help'
      run: vab --help

    - name: Run vab doctor *before*
      run: vab doctor

      # Cure symptom: `error: 'ALooper_pollAll' is unavailable: obsoleted in Android 1 - ALooper_pollAll may ignore wakes.`...
    - name: Install older NDK version to match Ubuntu SDL2 version (2.0.20)
      run: vab install "ndk;25.1.8937393"

    - name: Install Android 33
      run: vab install "platforms;android-33"

    - name: Checkout vab-sdl
      uses: actions/checkout@v4
      with:
        path: larpon/vab-sdl

    - name: Install extra command
      run: |
        vab install extra larpon/vab-sdl

    - name: Run vab doctor *after*
      run: vab doctor

    - name: Run extra command doctor
      run: |
        vab sdl doctor

    - name: Test extra command
      run: |
        unset ANDROID_NDK_ROOT # sat by the action, we need 25.x
        vab sdl ~/.vmodules/sdl/examples/tvintris -o tvintris.apk
        [ -f tvintris.apk ]

